.section-1 {
    background-image: url('Download\ Gold\ and\ White\ Abstract\ Watercolor\ Background\ for\ free.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.body {
    max-width: 100%;
    overflow-x: hidden;
}